
.container {
  display: flex;
  /* justify-content: center; */
 /* Align items to the start */
  width: 100%;
  height: 100vh;
  /* position: relative;
  overflow: auto; */
  padding: 0px;
}
.imageContainer {
  flex: 1;
  max-width: 40%;
  height: 100%;
  position: relative;
  padding: 25%;
}
.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.form {
  padding: 30px;
  flex: 1;
  background-color: var(--bgSoft);
  max-width: 50%;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: black;
}
.form input::placeholder {
  color: black;
}

.form input, .form textarea {
  width: 100%;
  height: 30px;
  padding: 30px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: var(--bg);
  color: black;
}

.form button {
  width: 100%;
  height: 70px;
  padding: 30px;
  background-color:#6358a3;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.form select {
  width: 100%;
  padding: 30px;
  background-color: var(--bg);
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 30px;
}
/* loginForm.module.css */
.logo {
  width: 300px; /* Adjust width as needed */
  height: 200px; /* Maintain aspect ratio */

}

